@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~intl-tel-input/build/css/intlTelInput.css";

/* ---------------------------------------------- */
:root {
  --purple: #f96f01;
  --violet: #f6af31;
  --pink: #f9e675;
}

body {
  overflow: hidden;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #f96f01,
    #f97c05,
    #f8890d,
    #f89518,
    #f7a022,
    #f7aa2c,
    #f7b436,
    #f7bd41,
    #f7c84d,
    #f8d25a,
    #f8dc67,
    #f9e675
  );
}

/* custom box shadow */
.box-shadow-c {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 450px) {
  .small-s {
    width: 85%;
  }
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

h1 {
  color: #555;
  font-family: "Rubik", sans-serif;
  font-size: clamp(2em, 2vw, 4em);
  font-weight: 400;
  margin: 0px;
  padding: 20px;
  text-align: center;
}

h1 > .magic {
  display: inline-block;
  position: relative;
}

h1 > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);
  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

h1 > .magic > .magic-star > svg {
  animation: 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

h1 > .magic > .magic-star > svg > path {
  fill: var(--violet);
}

h1 > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

.PhoneInputInput {
  border: none;
  border-radius: 8px;
}

.PhoneInput {
  border-width: 1px;
  border-radius: 0.5rem;
  padding: 0.325rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(17 24 39 / var(1));
  background-color: #f9fafb;
}
